
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
}
.navbar {
  position: fixed;

  width: 100%;
  background-color: rgb(2, 48, 139);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}


.logo {
  font-size: 1.5rem;
}

.logo i {
   margin-right: 30px;
} 


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
 
  align-items: center;
}

.nav-links li a:hover {
  color: #ffd166;
}


@media (max-width: 768px) {
  .nav-links {
    background-color: #0077b6;
  }
}
  
  .inspiring-stories {
    max-width: 1200px;
   
  }
  
  .inspiring-stories h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }
  
 .click {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 15px;
  font-size: 18px;
  background-color: hsl(204, 83%, 32%);
  color: #e6e7f1;
  text-decoration: none;
  border-radius: 10px;

}

  .story {
    width: 105%;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .story img {

    width: 300px;
    height: 300px;
    border-radius: 10px;
     
  }
  
  .story img:hover{
     transform: scale(1.1);  
  } 
  
   footer {
  background-color: #013464;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
 }